<launch>
  <arg name="model" default="$(find opencv_dnn)/config/yolo.onnx"/>

  <node pkg="video_stream_opencv" type="video_stream" name="video_stream"/>

  <node pkg="opencv_dnn" type="opencv_dnn_node" name="yolo">
    <param name="model" value="$(arg model)"/>
    <remap from="image" to="image_raw"/>
  </node>

</launch>