<launch>
  <arg name="model" default="$(find opencv_dnn)/config/yolov8l.onnx"/>
  <arg name="threshold" default="0.3"/>

  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam"/>

  <node pkg="opencv_dnn" type="opencv_dnn_node" name="yolo" output="screen">
    <param name="model" value="$(arg model)"/>
    <param name="threshold" value="$(arg threshold)"/>
    <remap from="image" to="/usb_cam/image_raw"/>
  </node>

</launch>