<launch>
  <arg name="namespace" default="opencv_dnn"/>
  <arg name="image" default="image"/>

  <rosparam command="load" file="$(find opencv_dnn)/config/yolov5x.yaml" ns="$(arg namespace)/yolo5x"/>
  <node pkg="opencv_dnn" type="opencv_dnn_node" name="yolo5x" ns="$(arg namespace)">
    <param name="model_path" value="$(find opencv_dnn)/config"/>
    <param name="configuration_path" value="$(find opencv_dnn)/config"/>
    <remap from="image" to="$(arg image)"/>
  </node>
</launch>
